@import '../../styles/helpers/variables.scss'; 
@import '../../styles/helpers/button.scss';
@import '../../styles/helpers/inputs.scss';


.explore{
    width: 100%;
    margin-bottom: -80px;

    & .bg-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        z-index:-1;
    }

    & .title{
        font-weight: 600;
        text-transform:uppercase;
        color:$white-text;
        text-align:center;
        display: flex;
        margin:auto;
        padding-top: 20px;
        width: 70%;
        font-size: 2.5rem;
    }
    .explore-container{
        display: flex;
        // align-items: center;
        width: 100%;
        padding: 20px 0;
        // height: 100%;
        background-color:$white-text;
        padding-top: 30px;
        margin-top: 30px;
    }
}

@media (max-width:752px){

    .explore{
        & .title{
            width: 90%;
            font-size: 2.0rem;
        }
    }
}
@media (max-width:560px){
    .explore-container{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:467px){

    .explore{
        & .title{
            font-size: 1.6rem;
        }
    }
}
@media (max-width:371px){

    .explore{
        & .title{
            font-size: 1.3rem;
        }
    }
}